LAB_ADMIN_TOKEN=
POSTGRES_BOOTSTRAP_PASSWORD=
TARGET_OWNER_PASSWORD=
VERIFIER_READER_PASSWORD=
ADMIN_OWNER_PASSWORD=
KEYCLOAK_DB_PASSWORD=
KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=
APP_A_TOKEN=
APP_B_TOKEN=
SCIM_TOKEN_APP_A=
SCIM_TOKEN_APP_B=
SCIM_TOKEN_APP_A_READ=
SCIM_TOKEN_APP_B_READ=
LDAP_ADMIN_PASSWORD=
LDAP_CONFIG_PASSWORD=
REST_MODERN_TOKEN=
REST_MODERN_READ=
REST_LEGACY_KEY=
REST_LEGACY_READ=
MCP_AGENT_TOKEN=
MCP_REFERENCE_TOKEN=
